@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

@font-face {
  font-family: 'Biro Script Plus';
  src: url('biro-script-plus_freefontdownload_org/biro-script-plus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background-color: #3a3230;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.topo .menu-navegacao {
    display: flex;
    gap: 25px;
}

.topo .menu-navegacao .link-pagina {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.4;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;

}

.topo .menu-navegacao .link-pagina:hover{
    opacity: 0.8;
}

.topo .menu-navegacao .link-pagina.ativo {
    opacity: 1 !important;
    font-weight: 600 !important;
    border-bottom: 2px solid #fff !important;
    background: transparent !important;
}

.container-perfil {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 40px 10% 40px 0;
    flex: 1;
}

.foto-perfil {
    width: 480px;
    max-width: 42vw;
    height: auto;
    object-fit: contain;
}

.bloco-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 70px;
    flex-grow: 1;
    max-width: 700px;
    padding-top: 15px 0;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulos h1 {
    font-family: 'Biro Script Plus', cursive, sans-serif;
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
}
.titulos h2 {
    font-family: 'Eagle Lake', cursive, sans-serif;
    font-size: 65px;
    margin-top: 5px;
    text-align: center;
}

.info-pessoal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-pessoal .nome {
    font-size: 18px;
    font-weight: 700;
}

.info-pessoal .cargo {
    font-size: 16px;
    color: #ddd;
}

.btn-contato {
    color: #aaa;
    text-decoration: underline;
    font-size: 12px;
    letter-spacing: 1px;
}